body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u4982 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:13px;
  width:757px;
  height:39px;
  color:#FFFFFF;
  text-align:left;
}
#u4982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:753px;
  word-wrap:break-word;
}
#u4983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4983 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:52px;
  width:757px;
  height:138px;
}
#u4983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4984 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:233px;
  width:1px;
  height:16px;
}
#u4984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u4985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u4985 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:75px;
  width:91px;
  height:26px;
  color:#999999;
}
#u4985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u4986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4986 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:75px;
  width:114px;
  height:26px;
}
#u4986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u4987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u4987 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:130px;
  width:91px;
  height:26px;
  color:#999999;
}
#u4987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u4988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4988 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:130px;
  width:114px;
  height:26px;
}
#u4988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u4989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u4989 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:130px;
  width:91px;
  height:26px;
  color:#999999;
}
#u4989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u4990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4990 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:130px;
  width:114px;
  height:26px;
}
#u4990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u4991 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:249px;
  width:1663px;
  height:135px;
}
#u4992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u4992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u4992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u4993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
}
#u4993 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:124px;
  height:32px;
}
#u4993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u4994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u4994 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:0px;
  width:151px;
  height:32px;
}
#u4994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u4995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u4995 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:0px;
  width:151px;
  height:32px;
}
#u4995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u4996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u4996 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:0px;
  width:151px;
  height:32px;
}
#u4996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u4997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u4997 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:0px;
  width:151px;
  height:32px;
}
#u4997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u4998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
}
#u4998 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:0px;
  width:148px;
  height:32px;
}
#u4998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u4999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
}
#u4999 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:0px;
  width:150px;
  height:32px;
}
#u4999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u5000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u5000 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:0px;
  width:190px;
  height:32px;
}
#u5000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u5001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u5001 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:0px;
  width:151px;
  height:32px;
}
#u5001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u5002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u5002 {
  border-width:0px;
  position:absolute;
  left:1511px;
  top:0px;
  width:152px;
  height:32px;
}
#u5002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u5003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u5003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:144px;
  height:36px;
}
#u5003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u5004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u5004 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:32px;
  width:124px;
  height:36px;
}
#u5004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u5005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u5005 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:32px;
  width:151px;
  height:36px;
}
#u5005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u5006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u5006 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:32px;
  width:151px;
  height:36px;
}
#u5006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u5007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u5007 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:32px;
  width:151px;
  height:36px;
}
#u5007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u5008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u5008 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:32px;
  width:151px;
  height:36px;
}
#u5008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u5009 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:32px;
  width:148px;
  height:36px;
}
#u5009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u5010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u5010 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:32px;
  width:150px;
  height:36px;
}
#u5010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u5011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u5011 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:32px;
  width:190px;
  height:36px;
}
#u5011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u5012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u5012 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:32px;
  width:151px;
  height:36px;
}
#u5012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u5013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u5013 {
  border-width:0px;
  position:absolute;
  left:1511px;
  top:32px;
  width:152px;
  height:36px;
}
#u5013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u5014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u5014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:144px;
  height:32px;
}
#u5014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u5015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
}
#u5015 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:68px;
  width:124px;
  height:32px;
}
#u5015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u5016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u5016 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:68px;
  width:151px;
  height:32px;
}
#u5016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u5017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u5017 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:68px;
  width:151px;
  height:32px;
}
#u5017_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u5018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u5018 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:68px;
  width:151px;
  height:32px;
}
#u5018_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u5019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u5019 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:68px;
  width:151px;
  height:32px;
}
#u5019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
}
#u5020 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:68px;
  width:148px;
  height:32px;
}
#u5020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u5021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
}
#u5021 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:68px;
  width:150px;
  height:32px;
}
#u5021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u5022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u5022 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:68px;
  width:190px;
  height:32px;
}
#u5022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u5023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u5023 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:68px;
  width:151px;
  height:32px;
}
#u5023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u5024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u5024 {
  border-width:0px;
  position:absolute;
  left:1511px;
  top:68px;
  width:152px;
  height:32px;
}
#u5024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u5025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
}
#u5025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:144px;
  height:35px;
}
#u5025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u5026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:35px;
}
#u5026 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:100px;
  width:124px;
  height:35px;
}
#u5026_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u5027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:35px;
}
#u5027 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:100px;
  width:151px;
  height:35px;
}
#u5027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u5028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:35px;
}
#u5028 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:100px;
  width:151px;
  height:35px;
}
#u5028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u5029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:35px;
}
#u5029 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:100px;
  width:151px;
  height:35px;
}
#u5029_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u5030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:35px;
}
#u5030 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:100px;
  width:151px;
  height:35px;
}
#u5030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
}
#u5031 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:100px;
  width:148px;
  height:35px;
}
#u5031_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u5032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u5032 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:100px;
  width:150px;
  height:35px;
}
#u5032_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u5033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
}
#u5033 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:100px;
  width:190px;
  height:35px;
}
#u5033_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u5034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:35px;
}
#u5034 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:100px;
  width:151px;
  height:35px;
}
#u5034_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u5035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u5035 {
  border-width:0px;
  position:absolute;
  left:1511px;
  top:100px;
  width:152px;
  height:35px;
}
#u5035_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u5036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:34px;
}
#u5036 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:398px;
  width:486px;
  height:34px;
}
#u5036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5037 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:455px;
  width:73px;
  height:25px;
}
#u5037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u5038 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:78px;
  width:91px;
  height:26px;
  color:#999999;
}
#u5038_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u5039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5039 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:78px;
  width:114px;
  height:26px;
}
#u5039_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u5040 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:208px;
  width:73px;
  height:25px;
}
#u5040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
